p,
h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: "Roboto", serif;
}

* {
  margin: 0;
}

/* Header */
.header-sections {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: end;
  width: 100%;
}

.header-sections a {
  color: #808080;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  padding: 20px 60px;
  text-decoration: none;
}

.header-sections a:hover {
  color: black;
}

/* Hero */
.hero-container {
  align-items: center;
  background: white;
  display: flex;
  justify-content: space-evenly;
}

.hero-img {
  padding-top: 110px;
}

.hero-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  justify-content: space-around;
  position: relative;
  padding-top: 110px;
}

.hero-info h1 {
  font-size: 60px;
  font-family: "Roboto", sans-serif;
  padding-bottom: 10px;
}

.hero-subject {
  color: red;
}

.hero-contact {
  padding-top: 10px;
}

.hero-contact a img {
  height: 30px;
  padding-right: 20px;
}

.hero-contact a img:hover {
  filter: brightness(0);
}

/* Style the tab */
.tab {
    float: left;
    border: 1px solid #ccc;
    background-color: #f1f1f1;
    width: 20%;
    height: 280px;
  }
  
  /* Style the buttons inside the tab */
  .tab button {
    display: block;
    background-color: inherit;
    color: black;
    padding: 25px 18px;
    width: 100%;
    border: none;
    outline: none;
    text-align: left;
    cursor: pointer;
    transition: 0.3s;
    font-size: 17px;
  }
  
  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current "tab button" class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    padding: 0px 12px;
    border: 1px solid #ccc;
    width: 800px;
    border-left: none;
    height: 280px;
  }

  h3.job-title{
    margin-top: 2%;
    text-align: center; 
  }
  
  .job-description {
    margin: 1% 0 0 25%;
    text-align: left; 
  }
  
  .job-section {
    padding:22px;
    margin: auto;
    width: 50%;
  }

  .job-section-title {
    text-align: left;
    padding: 5% 0 2%;
  }

  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 33%;
    float: left;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transform: scale(1.25);
  }
  
  .container {
    padding: 2px 16px;
  }

  .modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }

  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }

  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .parallax {
    /* The image used */
    background-image: url("../img/logo.jpg");
  
    /* Set a specific height */
    min-height: 500px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  h1 {
    font-size: 34px;
  }

  h2 {
    text-align: center;
  }

  #image {
    border-radius: 50%;
    height: 100%;
    width: 100%;
  }

  .profile-image {
    height: 200px;
    width: 200px;
  }

  .about-container {
    margin: auto;
    width: 50%;
}

#description {
  font-size: 18px;
}


