p,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
button {
  font-family: "Roboto", serif;
}

* {
  margin: 0;
}

/* Header */
.header-sections {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: end;
  position: fixed;
  width: 100%;
  z-index: 1;
}

.header-sections a {
  color: #808080;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  padding: 20px 60px;
  text-decoration: none;
}

.header-sections a:hover {
  color: black;
}

/* Hero */
.hero-container {
  align-items: center;
  background: white;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 50px;
}

.hero-img {
  padding-top: 110px;
}

.hero-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  justify-content: space-around;
  position: relative;
  padding-top: 110px;
}

.hero-info h1 {
  font-size: 60px;
  font-family: "Roboto", sans-serif;
  padding-bottom: 10px;
}

.hero-subject {
  color: red;
}

.hero-contact {
  padding-top: 10px;
}

.hero-contact a img {
  height: 30px;
  padding-right: 20px;
}

.hero-contact a img:hover {
  filter: brightness(0);
}

  .card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    width: 33%;
    float: left;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transform: scale(1.25);
  }
  
  .container {
    padding: 2px 16px;
  }

  .modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
  }

  .modal-content {
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }

  .close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }

  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }

  .parallax {
    /* The image used */
    background-image: url("../img/logo.jpg");
  
    /* Set a specific height */
    min-height: 500px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  h1 {
    font-size: 34px;
  }

  h2 {
    text-align: center;
  }

#image {
  border-radius: 50%;
  height: 100%;
  width: 100%;
}

.profile-image {
  float: left;
  padding-right: 20px;
  height: 225px;
  width: 225px;
}

#about-section-title {
  margin-top: 20px;
  padding-top: 20px;
  text-align: center;
}

.about-container {
  padding: 20px;
  margin: auto;
  width: 55%;
  margin-top: 100px;
  
}

#description {
  line-height: 35px;
  padding-top: 20px;
  font-size: 20px;
}

#name {
  font-family: 'Pacifico', cursive;
  font-weight: bold;
}

.interest {
  background-color:#ffff0050; 
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 200px;
  background-color: black;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  /* Position the tooltip */
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}

a#fun-fact-hover {
  background-color: powderblue;
  transition: background-color .5s;
}

a#fun-fact-hover:hover {
  background-color: rgb(12, 207, 142);;
}

.fa-map-marker-alt {
  color: #ff0000ad;
}

a#work-link {
  color: inherit;
  cursor: ne-resize;
}

p.about-technologies-title {
  margin-left:19.5%;
  padding-top: 25px;
  font-size: 20px;
}

ul.list-of-tech {
  padding-top: 20px;
  margin-left: 23%;
  font-size: 20px;
  list-style-type: disclosure-closed;
  line-height: 35px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-column-gap: -20px;
}

/* Style the tab */
.tab {
  float: left;
  border-left: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 20%;
  height: 280px;
}

/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color: white;
  color: black;
  padding: 25px 18px;
  width: 100%;
  border: none;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}

  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current "tab button" class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    margin: 0 auto;
    padding: 0px 12px;
    width: 800px;
    border-left: none;
    height: 280px;
  }

  h3.job-title{
    margin-top: 2%;
    text-align: center; 
  }
  
  .job-description {
    margin: 1% 0 0 25%;
    text-align: left; 
  }
  
  .job-section {
    padding:22px;
    margin: auto;
    width: 50%;
  }

  .job-section-title {
    text-align: left;
    padding: 2% 0 4%;
  }

  ul.list-duties {
    margin: 1% 0 0 22%;
    text-align: left; 
  }

  /* Use a media query to add a break point at 800px: */
@media screen and (max-width: 1300px) {

  .about-container {
    display:table-cell;
    padding: 20px;
    margin: auto;
    width: 55%;
  }

  /* Style the tab */
.tab {
  float: left;
  margin-left: -100px;
  border-left: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 20%;
  height: 280px;
}

/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color: white;
  color: black;
  padding: 25px 18px;
  width: 100%;
  border: none;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}

  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current "tab button" class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    margin: 0 auto;
    padding: 0px 12px;
    width: 800px;
    border-left: none;
    height: 280px;
  }

  #job, #internship1, #internship2, #volunteer {
    margin-left: 20px;
    width: 100%;
  }

  .about-technology {
    margin: auto;
    width: 80%;
  }

  ul.list-of-tech {
    padding-top: 20px;
    margin-left: 23%;
    font-size: 20px;
    list-style-type: disclosure-closed;
    line-height: 35px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  ul.list-duties {
    margin: auto;
    text-align: left; 
  }
}


@media screen and (max-width: 1000px) {

  .about-container {
    display:table-cell;
    padding: 20px;
    margin: auto;
    width: 55%;
    margin-top: 100px;
  }

 /* Style the tab */
 .tab {
  float: left;
  margin-left: -100px;
  border-left: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 20%;
  height: 280px;
}

/* Style the buttons inside the tab */
.tab button {
  display: block;
  background-color: white;
  color: black;
  padding: 25px 18px;
  width: 110%;
  border: none;
  text-align: center;
  cursor: pointer;
  transition: 0.3s;
  font-size: 17px;
}

  /* Change background color of buttons on hover */
  .tab button:hover {
    background-color: #ddd;
  }
  
  /* Create an active/current "tab button" class */
  .tab button.active {
    background-color: #ccc;
  }
  
  /* Style the tab content */
  .tabcontent {
    margin: 0 auto;
    padding: 0px 12px;
    width: 800px;
    border-left: none;
    height: 450px;
  }


  #job, #internship1, #internship2, #volunteer {
    margin-left: 20px;
    width: 100%;
  }

  .about-technology {
    margin: auto;
    width: 80%;
  }

  ul.list-of-tech {
    padding-top: 20px;
    margin-left: 23%;
    font-size: 20px;
    list-style-type: disclosure-closed;
    line-height: 35px;
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }

  ul.list-duties {
    margin: auto;
    text-align: left; 
  }

}

#projects {
  margin-left: 200px;
  margin-right: 200px;
  padding-top: 100px;
  padding-bottom: 200px;
  margin-bottom: 200px;
}


footer {
  background-color: black;
  display: flex;
  flex-direction: row;
  justify-content: end;
  width: 100%;
  height: 60px;
}

.social a img {
  height: 30px;
  padding-right: 20px;
  padding-top: 15px;
}

.social a:hover {
  color: black;
}
