p,
h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: "Roboto", serif;
}

* {
  margin: 0;
}

/* Header */
.header-sections {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: end;
  width: 100%;
}

.header-sections a {
  color: #808080;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  padding: 20px 60px;
  text-decoration: none;
}

.header-sections a:hover {
  color: black;
}

/* Hero */
.hero-container {
  align-items: center;
  background: white;
  display: flex;
  justify-content: space-evenly;
}

.hero-img {
  padding-top: 110px;
}

.hero-info {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  justify-content: space-around;
  position: relative;
  padding-top: 110px;
}

.hero-info h1 {
  font-size: 60px;
  font-family: "Roboto", sans-serif;
  padding-bottom: 10px;
}

.hero-subject {
  color: red;
}

.hero-contact {
  padding-top: 10px;
}

.hero-contact a img {
  height: 30px;
  padding-right: 20px;
}

.hero-contact a img:hover {
  filter: brightness(0);
}
