p,
h1,
h2,
h3,
h4,
h5,
h6,
button {
  font-family: "Roboto", serif;
}

* {
  margin: 0;
}

/* Header */
.header-sections {
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: end;
  width: 100%;
}

.header-sections a {
  color: #808080;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  padding: 20px 60px;
  text-decoration: none;
}

.header-sections a:hover {
  color: black;
}
