{% extends "index.html" %}

{% block about_section %}<section id="about"> </section>{% endblock %}

{% block about_title %} <h1> Who Am I? </h1>{% endblock %}

{% block about_content %} 
<p id="description"> 
  I'm <p id="profession">DESCRIBING WORD</p> from <i class="fas fa-map-marker-alt"></i> LOCATION. <br>
  My interests are INTEREST1, INTEREST2, INTEREST3. <br>
  I'm currently YOUR CURRENT STATUS(STUDENT, WORKING, LEARNING X, Y,Z, MLH FELLOWSHIP). <br>
  Fun Fact about me: YOU FUN FACT THAT YOU WOULD LIKE TO SHARE
</p> 
{% endblock %}

{% block about_jobs %} 
<div class="tab">
  <button class="tablinks" onclick="openJob(event, 'job')" id="defaultOpen">Job</button>
  <button class="tablinks" onclick="openJob(event, 'internship1')">Internship 1</button>
  <button class="tablinks" onclick="openJob(event, 'internship2')">Internship 2</button>
  <button class="tablinks" onclick="openJob(event, 'volunteer')">Volunteer</button>
</div>

<div id="job" class="tabcontent">
  <h3>Job</h3>
  <p>This is a job.</p>
</div>

<div id="internship1" class="tabcontent">
  <h3>Internship 1</h3>
  <p>This is an internship.</p> 
</div>

<div id="internship2" class="tabcontent">
  <h3>Internship 2</h3>
  <p>This is another internship.</p>
</div>

<div id="volunteer" class="tabcontent">
  <h3>Volunteer</h3>
  <p>This is a volunteer position.</p>
</div>

{% endblock %}