<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta property="og:title" content="Personal Portfolio">
    <meta property="og:description" content="My Personal Portfolio">
    <meta property="og:url" content="{{ url }}">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap"
        rel="stylesheet">

    <link lang='sass' rel="stylesheet" href="./static/styles/main.css">
    <link rel='icon' href='./static/img/favicon.ico' type='image/x-icon' />
    <title>{{ title }}</title>
</head>

<body>
    <header class="nav-bar">
        <div class="nav-content">
            <a href="/">
                <div class="nav-logo">
                    <img src="./static/img/logo.svg" />
                </div>
            </a>
        </div>
    </header>

    <div class="profile">
        <div id="profile-picture" class="profile-picture">
            <img src="./static/img/logo.jpg">
        </div>
        <h1>{{ title }}</h1>
    </div>

    <!-- Project Section --> 

    <!-- The Modal -->
    <div id="projectModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
        <span class="close">&times;</span>
        <p id="modalP">This is where the extended version of the description of a project should go.</p>
        </div>
    
    </div>

    <br>
    <div class="project-section">
        <h2 id='projectSectionText'>Project Section</h2>
        
        <div class="project-container card" onclick="openModal(1)">
            <div class="container">
                <p>Project 1: This is the first project of the fellow.</p>
            </div>
        </div>

        <div class="card-image">
            <div class="container"> 
                <img src="./static/img/project1.jpeg" class="project-images"> 
            </div> 
        </div>

        <div class="project-container card" onclick="openModal(2)">
            <div class="container">
                <p>Project 2: This is the first project of the fellow.</p>
            </div>
        </div>

        <div class="card-image">
            <div class="container"> 
                <img src="./static/img/project2.jpeg" class="project-images"> 
            </div> 
        </div>

        <div class="project-container card" onclick="openModal(3)">
            <div class="container">
                <p>Project 3: This is the first project of the fellow.</p>
            </div>
        </div>

        <div class="card-image">
            <div class="container"> 
                <img src="./static/img/project3.jpeg" class="project-images"> 
            </div> 
        </div>


    </div>

    <script>
        function openModal(number){
            var modalP = document.getElementById('modalP');
            modalP.textContent = "This is where the extended version of the description of Project "+ number +" should go. This project is a wonderful project that this fellow has worked very hard on, using these technologies, to create this effect."

            var modal = document.getElementById("projectModal");
            modal.style.display = "block";

            var span = document.getElementsByClassName("close")[0];
            span.onclick = function() {
                modal.style.display = "none";
            }

            window.onclick = function(event) {
                if (event.target == modal) {
                        modal.style.display = "none";
                }
            }

        }
    </script>
</body>
</html>